<form action="" method = "POST">

    <p>id <input type="number" name="id" /></p>
    <p>n item <input type="number" name="n_item" /></p>
    <p>data <input type="date" name="data" /></p>
    <p>data etiqueta <input type="date" name="data_etiqueta" /></p>
    <p>prioridade <input type="text" name="prioridade" /></p>
    <p>express <input type="text" name="express" /></p>
    <p>valor pedido <input type="text" name="valor_pedido" /></p>
    <p>valor frete <input type="text" name="valor_frete" /></p>
    <p>pagamento <input type="text" name="pagamento" /></p>
    <p>status <input type="text" name="status" /></p>
    <p>produto <input type="text" name="produto" /></p>
    <p>tipo couro <input type="text" name="tipo_couro" /></p>
    <p>cor <input type="text" name="cor" /></p>
    <p>personalizacao <input type="text" name="personalizacao" /></p>
    <p>impressao <input type="text" name="impressao" /></p>
    <p>endereço <input type="text" name="endereco" /></p>
    <p>estado <input type="text" name="estado" /></p>
    <p>etiqueta <input type="text" name="etiqueta" /></p>
    <p>obs <input type="text" name="obs" /></p>

    <p><input type = "submit" value = "Submit" /></p>
</form>